<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name = "FirstSuite">
	<listeners>
		<listener class-name="web.base.Listeners"></listener>
	</listeners>
	<test thread-count="5" name="GoogleTest">
		<classes>
			<class name="web.tests.GoogleSearchTest" />
		</classes>
	</test>
	<test thread-count="5" name="YahooTest">
		<classes>
			<class name="web.tests.YahooSearchTest" />
		</classes>
	</test>
	<test thread-count="5" name="MVNTest">
		<classes>
			<class name="web.tests.MvnRepositoryTest" />
		</classes>
	</test>
	<test thread-count="5" name="ReqResTest">
		<classes>
			<class name="web.tests.ReqResTest" />
		</classes>
	</test>
</suite>
